<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Modernize Free</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='assets/images/logos/favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/styles.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/styles.new.css') }}"
    />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!--  SideBar -->
      {% include "includes/sidebar.html" %}
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header -->
        {% include "includes/header.html" %}
        <div class="container-fluid" >{% block body %} {% endblock %}</div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/dist/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
  </body>
</html>
