{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    {% if j == 1%}
                    <div class="col-lg-12">
                        <h3 class="text-center mb-4">Normal</h3>
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="image here" style="max-width: 30%; height: auto;">
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-6">
                        <h3 class="text-center mb-4">Normal</h3>
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/img_normal.jpg') }}" alt="Normal Image" style="max-width: 80%; height: auto;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-center mb-4">After</h3>
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="After Image" style="max-width: 80%; height: auto;">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}